{
  "chain": {
    "enabled": true,
    "rpcUrl": "http://127.0.0.1:8545",
    "wsRpcUrl": "ws://127.0.0.1:8545",
    "routerAddress": "",
    "coordinatorAddress": "",
    "deploymentBlock": 0,
    "processingInterval": 2000,
    "wallet": {
      "keystorePath": "./.noosphere/keystore-e2e.json",
      "paymentAddress": ""
    }
  },
  "containers": [
    {
      "id": "noosphere-hello-world",
      "image": "ghcr.io/hpp-io/example-hello-world-noosphere:latest",
      "port": "8081"
    }
  ],
  "scheduler": {
    "enabled": true,
    "cronIntervalMs": 60000,
    "syncPeriodMs": 3000
  }
}
